.circular-menu {
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 530px;
  height: 530px;
  border: 1px solid #42567A;
  border-radius: 50%;

  .years {
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);

    b {
      margin: 40px;
      font-size: 200px;
      cursor: auto;
      -webkit-user-select: none;
    }
  }

  .circular-menu__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #133334;
    outline: none;
    color: white;
    font-size: 0;

    &:hover {
      background: #F4F5F9;
      border: 1px solid rgba(48, 62, 88, 0.5);
      width: 56px;
      height: 56px;
      font-size: 20px;
      color: #42567A;
      cursor: pointer;
      -webkit-user-select: none;
    }
  }

  .circular-menu__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 530px;
    height: 530px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #42567A;
  }
}