.circular-menu {
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 530px;
  height: 530px;
  border-radius: 50%;
}

.centerHeight {
  position: absolute;
  content: " ";
  background: rgba(66, 86, 122, 1);
  width: 1px;
  height: auto;
  min-height: 140vh;
  top: 0;
  left: 50%;
  opacity: 0.1;
}

.centerWidth {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  content: " ";
  background: rgba(66, 86, 122, 1);
  width: 1440px;
  height: 1px;
  min-width: 100vh;
  top: 0;
  margin-top: 563px;
  opacity: 0.1;
}

.menu-content {
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 530px;
  height: 530px;
  border: 1px solid #42567A;
  border-radius: 50%;
  transform-origin: center;
}

.years {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  b {
    margin: 40px;
    font-size: 200px;
    cursor: auto;
    -webkit-user-select: none;
  }
}

@media screen and (max-width: 1000px) {
  .centerHeight {
    display: none
  }
  .centerWidth {
    display: none

  }
  .circle {
    width: 100%;
    margin-top: 100px;
  }
  .circular-menu {
    position: relative;
    width: 100vw;
    height: 200px;
    border: 0;

  }
  .menu-content {
    float: left;
    left: 0;
    border: none;
    width: 0;
    height: 0;
    top: 200px;
    margin: 0 auto;
  }
  .years {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;

    b {
      margin: 15px;
      font-size: 75px;
      cursor: auto;
      -webkit-user-select: none;
    }
  }
}
