.menu__item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #133334;
  outline: none;
  color: white;
  font-size: 0;
  transition: all 0.2s ease-in-out;


  &:hover {
    background: #F4F5F9;
    border: 1px solid rgba(48, 62, 88, 0.5);
    width: 56px;
    height: 56px;
    font-size: 20px;
    color: #42567A;
    -webkit-user-select: none;
    cursor: pointer;
    position: absolute;
    left: 500px;
    line-height: 50px;
    text-align: center;
  }
  .menu-item.active {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    outline: none;
    background: #F4F5F9;
    border: 1px solid rgba(48, 62, 88, 0.5);
    width: 56px;
    height: 56px;
    font-size: 20px;
    color: #42567A;
    -webkit-user-select: none;
  }
  .menu-item-text {
    position: absolute;
    left: 60px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }

  .menu-item.active ~ .menu-item-text{
    position: absolute;
    left: 60px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    color: #42567A;
  }
}

