.cards {
  display: flex;
  padding: 0 80px;
  cursor: grab;
  -webkit-user-select: none;

  .btnList {
    display: flex;
    align-items: center;

    button {
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 50%;
      background: #FFFFFF;
      box-shadow: 0 0 15px rgba(56, 119, 238, 0.1);
      cursor: pointer;
      transition: box-shadow 0.2s ease-in-out;

      &:hover {
        box-shadow: 0 0 15px rgba(56, 119, 238, 0.30);
      }

      i {
        border: solid #3877EE;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
      }

      .arrowRight {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }

    }
  }
}