.cards {
  display: flex;
  cursor: grab;
  -webkit-user-select: none;

}


.my-swiper-button-next {
  display: flex;
  align-items: center;
  margin-left: 80px;

  button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(56, 119, 238, 0.1);
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 15px rgba(56, 119, 238, 0.30);
    }

    i {
      border: solid #3877EE;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }

    .arrowRight {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
}

.my-swiper-button-prev {
  display: flex;
  align-items: center;

  button {
    margin-right: 20px;

    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(56, 119, 238, 0.1);
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 15px rgba(56, 119, 238, 0.30);
    }

    i {
      border: solid #3877EE;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }

    .arrowLeft {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
  }
}

