.card {
  width: 400px;
  margin-right: 80px;
  margin-top: 56px;

  b {
    font-size: 25px;
    color: #3877EE;
    margin-bottom: 15px;
  }

  h4 {
    color: #42567A;
    font-size: 20px;
    font-weight: 400;
  }
}
