.navigationArrows {
  .navNumbers {
    margin-left: 80px;
    margin-bottom: 20px;
    color: #42567A;
    font-size: 14px;
    font-weight: 400;
  }

  .btnLeft {
    margin-left: 80px;
  }

  .btnRight {
    margin-left: 20px;
  }

  button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(66, 86, 122, 0.5);
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;


    &:hover {
      border: 1px solid rgba(66, 86, 122, 0.5);
      box-shadow: 0 0 5px rgba(56, 119, 238, 0.30);
    }

    i {
      border: solid #42567A80;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }

    .arrowRight {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    .arrowLeft {

      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }

  }
}

@media screen and (max-width: 1000px) {
  .navigationArrows {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;

    .btnLeft {
      margin-left: 20px;

    }

    button{
      width: 40px;
      height: 40px;
    }

    .navNumbers{
      margin-left: 20px;
    }
  }
}