body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  background: #FFFFFF;
  max-width: 1400px;
  margin: 170px auto;

  // Name
  .mainName {
    h1 {
      margin: 0;
      padding: 0 80px;
      font-size: 56px;
      width: 353px;
      color: #42567A;
    }
  }

  .mainName:before {
    content: " ";
    float: left;
    height: 128px;
    width: 4px;
    background: linear-gradient(#3877EE, #EF5DA8);
  }

  //cards
  .cards {
    display: flex;
    padding: 0 80px;
    cursor: grab;
    -webkit-user-select: none;

    .card {
      width: 400px;
      margin-right: 80px;
      margin-top: 56px;

      b {
        font-size: 25px;
        color: #3877EE;
        margin-bottom: 15px;
      }

      h4 {
        color: #42567A;
        font-size: 20px;
        font-weight: 400;
      }
    }

    .btnList {
      display: flex;
      align-items: center;

      button {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        background: #FFFFFF;
        box-shadow: 0 0 15px rgba(56, 119, 238, 0.1);
        cursor: pointer;
        transition: box-shadow 0.2s ease-in-out;

        &:hover {
          box-shadow: 0 0 15px rgba(56, 119, 238, 0.30);
        }

        i {
          border: solid #3877EE;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
        }

        .arrowRight {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }

      }
    }

  }
}
